<div class="analytics-show">
    <h1>Analytics:</h1>
    <ul>
        <li><%=@analytic.groups%></li>
        <li><%=@analytic.users%></li>
        <li><%=@analytic.raids%></li>
        <li><%=@analytic.roles%></li>
    </ul>
</div>