<div class="groups-list">   
    <h1>All Groups Page</h1>


    <%=link_to "click here to create a new group", new_group_path%>

    <h3>Open Groups:</h3>
    <ul>
        <% @groups.each do |g| %>
            <% if g.party_size.length < g.limit %>
                <li><%= link_to g.name, g %></li>
            <% end %>
        <% end %>
    </ul>

    <%= link_to "Analytics", analytic_url(1) %>
</div>