<div id="groups-list">   
   

    <div class="grid-header">
        <div class="grid-item button">
            <%=link_to "New Group", new_group_path%>
        </div>

        <div class="grid-item button">
            <%= link_to "All Group Analytics", analytic_url(1) %>
        </div>
    </div>

    <hr>
    <h2>All Open Groups </h2>
    <div class="grid-container">
        <% @groups.each do |g| %>
            <% if g.party_size.length < g.limit %>
                <%# <div class="grid-item"> %>
                    <%= link_to g.name, g, class: "grid-item" %>
                <%# </div> %>
            <% end %>
        <% end %>
    </div>

</div>