$icon-font-path: 'bootstrap/';
@import "bootstrap";
@import "bootstrap-sprockets";
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

//general page styling
body {
   margin: 0 auto;
   font-family: 'Fira Sans', Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
   text-align: center;
}

select {
   width: 100%;
}

hr {
   border-top: .25rem solid grey;
   border-radius: 3px;
}

// form styling
form {
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

input[type=text], input[type=email], input[type=password] {
   width: 100%;
   padding: 6px 10px;
   margin: 8px 0;
   box-sizing: border-box;
}

input[type=submit] {
   background-color: #666666;
   border:none;
   color: white;
   
   padding: 15px 30px;
   text-decoration: none;
   cursor: pointer;
   display: block;
   margin: 0 auto;
   margin-top: 1.5rem;

   &:hover {
      background-color: grey;
   }
}

input[type="checkbox"] {
   width: 5rem;
}

// navbar styling
nav {
   background-color: #666666;
   ul {
      top: 0;
      display: flex;
      justify-content: flex-end;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
         display: inline;

         a {
            display: block;
            padding: 2rem 3rem;
            text-decoration: none;
            color: white;
            font-size: large;

            &:hover {
               padding: 2rem 3rem;
               color:white;
               background-color: grey;
               text-decoration: none;
            }

            &:visited {
               color: white;
               text-decoration: none;
            }
         }
      }
   }
}

//class styling
.flex-container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.info-section {
   margin-left: auto;
   margin-right: auto;
   width: 50%;

   text-align: center;
   padding-top: 1.5rem;
}

.carousel {
   width:940px;
   height: auto ;
}

.grid-container {
   display: grid;
   justify-content: center;
   grid-template-columns: 14rem 14rem 14rem 14rem;
   grid-gap: 4rem;
   padding-inline-start: 0 !important;

}

.grid-header {
   display: grid;
   justify-content: center;
   grid-template-columns: 12rem 12rem;
   grid-gap: 2rem;
   padding-inline-start: 0 !important;
}

.grid-item {
   text-align: center;
   
   a {
      text-decoration: none;
      color: white;
      padding: 1.5rem 2rem;
      background-color: #666666;
      
      &:hover {
         color: white;
         text-decoration: none;
         background-color: grey;
      }

      &:visited {
         text-decoration: none;         
      }
   }
}

.alt-grid-item{
   list-style: none;
   text-align: center;
   background-color: #666666;
   padding: 1rem 1.25rem;
   margin-top: auto;
   margin-bottom: auto;
   
   a {
      text-decoration: none;
      color: white;
      background: none;
      padding: 0;
      &:hover {
         color: white;
         text-shadow: 2px 2px #303030;
         text-decoration: none;
      }

      &:visited {
         text-decoration: none;         
      }
   }
}

.button {
   display: flex;
   justify-content: center;

   a {
      background-color: #666666;
      text-decoration: none;
      color: white;
      padding: 15px 30px;

      &:hover{
         color: white;
         background-color: gray;
      }

      &:visited {
         color: white;
      }
   }
}

.icon-list {
   display: flex;
   justify-content: center;
   list-style: none;
   padding-top: 1rem;
   padding-inline-start: 0 !important;

   li {
      padding: 1rem;
   }
}

.footer {
   text-align: center;
   position: absolute;
   bottom: 0;
   width: 100%;
   padding: 1rem;
}

.icon {
   display: flex;
   justify-content: center;
}

.side-1 {
   order: 1;
   text-align: center;
}

.side-2 {
   order: 2;
}


// id styling
#groups-list h3 {
   padding: 1rem;
}

#user-list {
   padding-top: 5rem;

   h2 {
      padding-bottom: 2rem;
   }
}

#user-list .grid-item {
   text-align: center;
   background-color: whitesmoke;
   width: 150px;
   height: 215px;
   padding: 1rem 0;

   img {
      padding-left:.5rem;
      padding-right:.5rem;
      padding-bottom: 2rem;
   }
}

#new-user {
   width: 50%;
}

#user-show {
   padding-top: 5rem;
   display: flex;
   
}

#user-data-stats {
   padding-top: 5rem;
   
   ul {
      list-style: none;
   }

   h3 {
      padding-top: 2rem;
   }
}

#groups-new {
   padding-top: 5rem;
}

#groups-show {
   display: flex;

   h2 {
      padding: 1rem;
   }

   p {
      text-align: center;
   }
}

#group-info {
   padding-top: 10rem;
   padding-left: 5rem;

   .grid-container {
      justify-content: center;
      grid-template-columns: 12rem 12rem 12rem;
      
      .alt-grid-item {
         padding: 0;

         h4 {
            color: white;
            font-variant: small-caps;
         }
      }
   }
}

#group-options {
   padding-top: 8.5rem;
   padding-right: 5rem;
}

#groups-list {
   padding-top: 5rem;

   h2 {
      padding-bottom: 2rem;
   }
}

#group-list {
   display: flex;
   flex-direction: column;
   align-items: center;
   // VV bad practice but those button_to suck to get centered
   margin-left: -7rem;
}

#discord {
   .icon {
      padding-top: 1rem;
      // VV bad practice but needed better spacing
      margin-bottom: -1rem;
   }
}

#raids-list {
   padding-top: 5rem;

   h2 {
      padding-bottom: 2rem;
   }
}

#raids-show {
   padding-top: 5rem;

   .alt-grid-item {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      height: 100%;
   }
}

#analytics {
   padding-top: 5rem;
   text-align: center;
   ul {
      list-style: none;
      padding-inline-start: 0 !important;
   }
}

#sessions-new {
   padding-top: 5rem;
}

#landing-page {
   width: 75%;
   padding-top: 5rem;
   text-align: center;

   h2 {
      padding: 2rem;
   }

}